html,
body {
    min-height: 100%;
}

.navigation {
    height: 50px;
    /* background-color: gray;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font1);
}

.content {
    height: 90px;
    /*  background-color: rgb(208, 208, 231)  */
}
.changes{
    
    background-color: lightblue;
    position: sticky;
    top: 0px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    
}

.footer {
    height: 20px;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.nav-left {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 77px;
}

.nav-left span {
    font-size: 35px;
}

.nav-left ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a:hover {
    color: var(--main-bg-colour);
    font-weight: bolder;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    height: 300px;
    margin-top: 32px;
    padding: 9px;
    position: relative;
}

.content::after {
    content: "";
    background-image: url(images/image99.jpg);
    position: absolute;
    width: 90%;
    height: inherit;
    opacity: 0.10;
}

.content-left {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: #333
}

.content-right img {
    height: 280px;
    border: 2px solid black;
    border-radius: 500px;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.home-articles {
    height: 455px;
    background-color: red;
}

.content-left img {
    height: 200px;
    width: 40%;
    align-items: center;
}
.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
html {
    scroll-behavior: smooth;
}
.contact-form input, #contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #1d6fa5;
    color: #fff;
    transition: .5s ease all;
}
#contact-form button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #3498db;
    font-weight: 700;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: .5s ease all;
    -webkit-appearance: button;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
 
 

  
 